.showcase-bg {
    height: 94vh;
    background-image: url(../img/jantine-doornbos-711322-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    text-align: center;
    padding: 5rem;
    text-transform: uppercase;
    
    
}
.main-heading {
    letter-spacing: 2rem;
    font-size: 4rem;
    

}

.sub-heading {
    letter-spacing: 1.5rem;
    font-size: 3rem;
    padding: 4rem;

}